.containerBtns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 12rem;
  height: 37rem;
  border: 2px ridge #000;
  border-left: 0;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  background-color: #0f0f0f;
  margin-left: -1rem;
}

/* Align better the btns */
.alignPadding {
  padding: 0 .5rem;
}

/* Section Btns/selects to format to Rich Text */
.sectionBtns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 1rem 0;
}
.sectionBtns:nth-child(2) {
  padding: 1.2rem 0;
  margin: 1.2rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.sectionSelects, .sectionSelect {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selects {
  padding: .2rem;
  max-width: 50%;
}
.selectTop {
  padding: .2rem;
  border-radius: .5rem .5rem 0 0;
  max-width: 100%;
}
.selects {
  border-radius: 0 0 .5rem .5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}
.btn:hover {
  scale: 1.3;
}
.btn:active {
  background-color: #777;
}

.btn, .selects, .selectTop {
  color: #fafafa;
  background-color: #0f0f0f;
  border: 2px solid #2f2f2f;
  outline: 0;
  cursor: pointer;
}

/* Media Q */
@media (max-width: 750px) {
  .containerBtns {
    transform: rotate(90deg);
    height: 79%;
    margin-top: -20rem;
    position: absolute;
    right: 102px;
  }

  .btn, .selects, .selectTop {
    transform: rotate(270deg);
    overflow: auto;
  }
  .sectionSelects {
    justify-content: initial;
    position: absolute;
    left: 100px;
    top: 200px;
  }

  .selectTop {
    position: absolute;
    left: 65px;
    bottom: 200px;
  }
}